version: "3.9"

services:
  api:
    build: .
    container_name: traffic_api
    network_mode: "host"

    shm_size: "4gb"
    mem_limit: "8g"
    mem_reservation: "4g"
    cpus: "4.0"

    ulimits:
      nofile:
        soft: 100000
        hard: 100000

    environment:
      - SQLITE_DB_FILE=/app/data/traffic.db
      - JWT_SECRET=${JWT_SECRET:-jwt_secret}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-123456}
      - RATE_LIMIT=${RATE_LIMIT:-10/minute}
      - PLAYWRIGHT_PROXY_SERVER=${PLAYWRIGHT_PROXY_SERVER:-}
      - PLAYWRIGHT_PROXY_BYPASS=${PLAYWRIGHT_PROXY_BYPASS:-}
      - PLAYWRIGHT_PROXY_USERNAME=${PLAYWRIGHT_PROXY_USERNAME:-}
      - PLAYWRIGHT_PROXY_PASSWORD=${PLAYWRIGHT_PROXY_PASSWORD:-}
      - DNS_SERVERS=8.8.8.8,1.1.1.1,9.9.9.9
      - PORT=8000

    volumes:
      - .:/app
      - ./static:/app/static
      - ./data:/app/data
