sqlalchemy
sqlalchemy[asyncio]
uvicorn[standard]
python-jose[cryptography]
fastapi
slowapi
pillow
numpy
aiosqlite
pytest
pytest-asyncio
pytest-mock
python-dotenv
python-multipart
httpx
playwright
aiofiles